.actions {
    text-align: ;
    margin-left: 25px;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: aliceblue;
    border: 1px solid #6b068a;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.actions button:hover,
.actions button:active {
    background-color: #47035d;
    border-color: #47035d;
    color: white;
}

.actions .button--alt {
    color: #6b068a;
}

.actions .button {
    background-color: #6b068a;
    color: white;
}